<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @missionary.name %>
</p>

<p>
  <strong>Campus:</strong>
  <%= @missionary.campus %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @missionary.image_url %>
</p>

<img src="<%= @missionary.image_url %>" style="width: 400px">

<%= link_to 'Edit', edit_missionary_path(@missionary) %> |
<%= link_to 'Back', missionaries_path %>
